rundeck:
  host: rundeck.acme.com
  users:
    admin:
      password: MD5:21232f297a57a5a743894a0e4a801fc3
      groups:
        - admin
        - user
    user:
      password: plaintextpassword
      groups:
        - user
